{% extends 'base.html' %} 
{% load static %} 
{% block title %}Выбор вариантаоплаты{% endblock %} 

{% block content %}
<div class="container">
  <div class="col-12">
    <h1 class="h2">Выбор варианта оплаты</h1>
  </div>
  <div class="col-12">
    <p>Выберите предпочтительный вариант оплаты заказа</p>
  </div>
  <hr />
</div>

<div class="container mb-5">
  <div class="row g-3">
    <div class="col-md-5 col-lg-4 order-md-last order-2 p-0">
      <div class="d-flex ms-0">
        <div class="p-2 flex-grow-1">Стоимость заказа:</div>
        <div class="p-2">
          <span class="h5 fw-bold" id="sub_total"
            >{{ cart.get_subtotal_price }}</span
          >
          грн
        </div>
      </div>
      <div class="d-flex ms-0">
        <div class="p-2 flex-grow-1">Стоимость доставки:</div>
        <div class="p-2">
          <span class="fw-bold h5" id="delivery_price"
            >{{ cart.get_delivery_price }}</span
          >
          грн
        </div>
      </div>
      <div class="d-flex ms-0">
        <div class="p-2 flex-grow-1">
          <span class="fw-bold h5 text-danger">Всего:</span>
        </div>
        <div class="p-2">
          <span class="fw-bold h5" id="total">{{ cart.get_total_price }}</span>
          грн
        </div>
      </div>
      <div class="d-flex ms-0">
        <div class="d-grid gap-3 mt-3">
          <div id="paypal-button-container">
            <button class="btn btn-warning" style="width: 300px" type="button">
              PayPal
            </button>
          </div>
          <a href="{% url 'orders:add' %}">
            <button
              type="button"
              role="button"
              class="btn btn-success"
              style="width: 300px"
              id="btn-successful"
            >
              Наличными при получении
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 pe-0 pe-md-0">
      <div class="col-md-7 col-lg-8 pt-3">
        {% for item in cart %} {% with product=item.product %}
        <div
          class="card mb-3 border-0 product-item"
          data-index="{{ product.id }}"
        >
          <div class="row g-0">
            <div class="col-md-2 d-md-block d-none">
              {% for image in product.product_image.all %} 
              {% if image.is_feature %}
              <img
                class="img-fluid"
                src="{{ image.image.url }}"
                alt="{{ image.alt_text }}"
              />
              {% endif %} 
              {% endfor %}
            </div>
            <div class="col-md-10 ps-md-3">
              <div class="card-body p-1">
                <a
                  class="text-decoration-none text-reset"
                  href="{{ item.product.get_absolute_url }}"
                >
                  <p class="card-text pb-3" style="color: teal">
                    {{ product.title }}
                  </p>
                </a>
                <label class="me-2" for="select"
                  >Количество: {{ item.qty }}</label
                >
              </div>
            </div>
          </div>
        </div>
        <hr />
        {% endwith %} {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- <script>
    
    $(document).on('click', '#btn-successful', function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '{% url "orders:add" %}',
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post",
                
            },
            success: function(response) {
                console.log(response)
            }
        })
    })
    
</script> -->

{% endblock %}
