{% extends "../sub_base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% comment %}
{% if user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}'
</script>
{% endif %}
{% endcomment %}


<form class="account-form mx-auto" method="post" action="{% url 'account:pwdreset' %}">
    <h3 class="mb-4">Забыли пароль?</h3>
    <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="form-control">
         <label class="small">{{ form.email.label}}</label>
        {{ form.email }}
    </div>
   
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">
        Отправить e-mail
    </button>
    <p class="text-center"><a href="{% url "account:login" %}">Войти</a></p>
</form>

{% endblock %}
